* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}
header {
    height: 80px;
    padding: 10px 30px;
    box-shadow: 0 0 2px black;
    position: relative;
}
header img {
    width: 130px;
    height: 70px;
    margin: 0 10px;
}
header div {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    position: absolute;
    right: 180px;
    width: calc(100% - 180px);
}
header div a {
    text-decoration: none;
    margin: 5px;
    color: black;
    padding: 15px 5px;
    display: inline-block;
}
header .ha_active {
    color: red;
    border-bottom: 4px solid red;
}
header a:hover {
    background-color: red;
    color: white;
}
header div select {
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 10px;
    text-align: center;
}
.slide {
    width: 100%;
    height: 520px;
    padding: 0 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.slide #sl1_ba, .slide #sl1_ne, .slide #sl2_ba, .slide #sl2_ne {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    top: 200px;
    font-size: 30px;
    background: none;
    border-radius: 50%;
}
.slide #sl1_ba, .slide #sl2_ba {
    left: 40px;
}
.slide #sl1_ne, .slide #sl2_ne {
    right: 40px;
}
.slide img {
    width: calc(100% - 60px);
    height: calc(100% - 40px);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 30px;
}
.slide div {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: calc(100% - 60px);
    padding: 5px;
}
.slide div span {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.hajs {
    text-align: center;
}
.hajs button {
    padding: 10px 100px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 20px;
}
.whous, .aboutco, .works, .account, .question, .indemam {
    text-align: center;
    padding: 10px 30px;
    margin: 30px auto;
}
.whous h3, .aboutco h3, .works h3, .servers h3, .account h3, .question h3, .indemam h3 {
    background-image: url(../img/etar.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 70px;
    margin: 30px auto;
    line-height: 60px;
    color: blue;
    font-size: 30px;
}
.whous p, .aboutco p, .works p {
    font-size: 25px;
}
.aboutco, .account {
    position: relative;
}
.aboutco img, .account video {
    position: absolute;
    top: 120px;
    left: 30px;
    width: 400px;
    height: 300px;
    box-shadow: -4px -4px black;
}
.aboutco p {
    width: calc(100% - 450px);
    line-height: 70px;
}
.works_sl {
    height: 500px;
}
.works_sl img {
    width: 600px;
    height: 400px;
    margin: 30px auto;
    position: relative;
    box-shadow: .5px .5px 1px 1px black;
}
.servers {
    padding: 10px 30px;
    text-align: center;
}
.servers div {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px black;
    opacity: .5;
}
.servers div img {
    width: 100px;
    margin: 10px;
}
.servers .sd_active {
    opacity: 1;
}
.servers .sd_active:hover {
    background-color: green;
    color: white;
}
.servers .sd_active::before {
    content: "خصم 100%";
    display: block;
    background-color: red;
    color: white;
}
.account {
    text-align: right;
}
.account h3 {
    text-align: center;
}
.account p {
    width: 40%;
    font-size: 25px;
    line-height: 50px;
}
.account .account_si {
    display: inline-block; 
    padding: 10px;
    margin-right: 30px;
    background-color: blue;
    color: white;
    text-decoration: none;
}
.account video {
    width: 50%;
    height: 400px;
    box-shadow: none;
}
.question {
    padding: 10px 30px;
    margin: 50px auto;
}
.question div {
    width: 100%;
    height: 60px;
    box-shadow: .5px .5px black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    overflow: hidden;
    text-align: right;
}
.question div:hover {
    height: auto;
    background-color: greenyellow;
}
.question div .ques {
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
}
.question button, .indemam button {
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    background-color: chartreuse;
}
.indemam {
    border: 2px solid black;
}
.indemam p {
    font-size: 20px;
    margin: 10px;
}
footer {
    background-color: chartreuse;
    padding: 10px 30px;
}
footer div {
    display: inline-block;
    margin: 0 20px;
    padding: 20px;
    font-size: 20px;
    transform: translate(0,-50px);
}
footer div a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold;
}
footer .finil {
    padding: 20px;
    text-align: center;
}